/* Fuentes */ 
@font-face {
  font-family: 'Product-Sans';
  src: url('./DESARROLLO WEB BACK-END/PORTAFOLIO/ASSETS/FONTS/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    font-family:'Product-Sans', sans-serif;
}


.Encabezado_Google{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.Buscador {
  position: absolute;
  left: 260px;
  border-radius: 50px;
  padding: 15px;
  box-shadow:  0 0 4px rgba(0, 0, 0, 0.2);
  height: 10px;
  width: 680px; 
  background-color: #ffffff;
}

.Buscador_2 {
  position: absolute;
  left: 260px;
  border-radius: 30px;
  padding: 15px;
  box-shadow:  0 0 4px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 680px; 
  top: 20px;
  background-color: #ffffff;
  z-index: 1;
}

.Buscador_2:hover{
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.6);
}

.Buscador_2_1 {
  border-radius: 30px;
  padding: 15px;
  box-shadow:  0 0 4px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 680px; 
  top: 20px;
  background-color: #ffffff;
  z-index: 1;
}

.Buscador_2_1:hover{
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.6);
}

.Tres_Puntos{
  cursor: pointer;
}

.Buscador:hover{
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.6);
}

.Encabezado_Google.fijo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Opcional para darle sombra */
  margin: 0;
  padding: 20px;
}

.Barra_lateral{
  background-color: #dadce0;
  height: 30px;
  width: 0.5px;
  transform: translate(-50%,-30%);
}



.Buscador_{
  resize: none;
  outline: none;
  width: 570px;
  height: 25px;
  transform: translate(0%,-25%);
  border: none;
}

.Buscador_4{
  width: 580px;
  height: 25px;
  transform: translate(0%,-25%);
  font-size: 16px;
  border: none;
  background: none;
  resize: none;
  outline: none;
}

.Buscador_5{
  resize: none;
  outline: none;
  width: 550px;
  height: 25px;
  transform: translate(0%,-25%);
  font-size: 16px;
  border: none;
  background: none;
}

.busquedas{
  width: 99%;
  margin-top: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  color:#531a8d ;
  font-size: 14px;
  padding: 5px;
}



.busquedas:hover{
  background-color: #dadce0;
  border-radius: 5px;
}

.busquedas_{
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  font-size: 9px;
  margin-top: 13px;
}

.busquedas_ p{
  text-decoration: wavy;
  color:#777b80;
}

.busquedas p{
  margin-left: 10px;
  transform: translate(0%,3%);
}

.busquedas img{
  height: auto;
  width: 20px;
}
.barra_horizontal{
  background-color: #dadce0;
  height: 1px;
  width: 100px;
}



form {
  display: flex;  
  gap: 5px; 
  height: 25px;
}

.buscador_3{
  width: 18px;
  height: 18px;
  z-index: 1;
  transform: translate(0%,-20%);
}

.Boton_7{
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  background: none;
}

.Logo_Google{
  height: 40px;
  width: 110px;
  margin-left: 40px;
}

.Boton_1{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  transform: translate(0%,-25%);
  border: none;
  background: none;
}



.Imagen_Boton_1{
  width: 20px;
  height: 20px;
  background: none;
}

.Boton_2{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  transform: translate(0%,-25%);
  background: none;
  border: none;
}

.Imagen_Boton_2{
  width: 20px;
  height: 20px;
}

.Boton_3{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  transform: translate(0%,-25%);
  background: none;
  border: none;
}

.Imagen_Boton_3{
  width: 20px;
  height: 20px;
}

.Logo_Usuario{
  height: 40px;
  width: 40px;
   transform: translate(0px,1px);

}

.Elementos_Derecha{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 40px;
}

.Encabezado_Google button{
  background-color: white;
  border: none;
}

.Encabezado_Google input{
  color:black;
  border: none;
}


.Imagen_Boton_4 {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: translate(0.2px,2px);
}

.Imagen_fondo{
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3 ease-in;
}

.Imagen_fondo_1{
  background-color: transparent;
  width: 51px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3 ease-in;
}

.Imagen_fondo_1:hover{
  background-color: gainsboro;
  border-radius: 50px;
}



.Imagen_Boton_5 {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.Imagen_fondo:hover{
  background-color: gainsboro;
  border-radius: 50px;
}

.Elementos_sub{
  display: flex;
  align-items: center;
  max-width: 680px;
  margin-left: 18%;
}

.Elementos_sub a{
  text-decoration: none;
  color: #777b80;
  font-size: 15px;
  transition: all 0.3s ease;
  margin-left: 25px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 20px;
}

.Elementos_sub a.active{
  color: black;
}

.Elementos_sub a.active::before {
      content: '';
      position: absolute;
      top: 25px; /* Ajusta para pegarlo a la línea gris */
      left: 0;
      right: 0;
      height: 3px;
      background: black;
    }

.Elementos_sub a:hover{
  color: black;
}

.Linea{
  background-color: #dadce0;
  width: 100%;
  height: 0.1px;
  margin-bottom: 40px;
}

/* Contenido */

.Titulo_Imagenes{
  margin-bottom: 20px;
}

.Imagenes_1{
  display: flex;
  gap:40px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.Imagenes_1 img{
  margin-top: 20px;
  width: 600px;
  height: 450px;
  border-radius: 15px;
  transition: all 0.3s ease
}

.Imagenes_1 img:hover{
  transform: scale(1.1);
}

.Imagenes{
  display: flex;
  gap:40px;
  margin-bottom: 30px;
}

.Imagenes img{
  margin-top: 20px;
  width: 200px;
  height: 150px;
  border-radius: 15px;
  transition: all 0.3s ease
}

.Imagenes img:hover{
  transform: scale(1.1);
}

.Contenedor_Proyect{
  margin-bottom: 30px;
}

.Contenedor_1{
  display: flex;
  align-items: center;
  height: 10px;
}

.Contenedor_1 img{
  width: 8px;
  height: 8px;
  margin-left: 3px;
}

.Titulo_Logo{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.Logo_Proyecto{
  background-color: gainsboro;
  border-radius: 50px;
  width: 20px;
  padding: 5px;
  height: 20px;
  margin-right: 10px;
}

.Link{
  color: cornflowerblue;
  direction: none;
  transition: all 0.3s ;
  text-decoration: none;
}

.Link:hover{
  text-decoration: underline;
}

.subtitulo{
  font-size: small;
  color: grey;
}

.Subtitulo_{
  color: grey;
  font-size: 10px;

}

/* Indexación */ 

.Indexacion{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.Google{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left:395px;
  transform: translate(-50%,-50%);
}

.Google_2{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left:370px;
  transform: translate(-50%,-50%);
}

.G{
  width: 25px;
  height: 25px;
  top:2%;
}

.g{
  width: 16px;
  height: 22px;
  position: relative;
  top:5px;
  margin-left: 2px;
  filter: saturate(1.5);

}

.L{
  width: 5px;
  height: 27px;
  position: relative;
  bottom:2px;
  margin-left: 2px;
  filter: saturate(1.5);
}

.E{
  width: 18px;
  height: 17px;
  position: relative;
  top:3px;
  margin-left: 2px;
  filter: saturate(1.5);
}

.Google p{
  margin-left: 2px;
  font-size: 32px;
  color: #fbbc05;
}

.O{
  margin-left: 1px;
  font-size: 32px;
  color: #fbbc05;
  font-weight: 600;
}


.G_1{
  width: 22px;
  height: 26px;
  position: relative;
  top:-1px;
  margin-left: 2px;
  filter: saturate(1.5);
}

.Enlaces{
  position: absolute;
  display: flex;
  align-items: center;
  margin-left:285px;
  gap: 1px;
}

.Enlaces_1{
  position: absolute;
  display: flex;
  align-items: center;
  margin-left:280px;
  gap: 1px;

}

.Enlaces a{
  text-decoration: none;
  color: #4285f4;
  font-size: 14px;
}

.Enlaces_1 a {
  text-decoration: none;
  color: #4285f4;
  font-size: 14px;
}

.Enlaces_1 a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.Enlaces a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.Enlace_2{
  margin-left: 13px;
}

.Enlace_4{
  margin-right: 13px;
}

.Enlace_3{
  margin-left: 12px;
}

.Enlaces a.active{
  color: black;
}

.Enlaces_1 a.active{
  color: black;
}

.Google p.active{
  color: #ec4738;
  font-weight: 600;
}

.O.active{
  color:#ec4738;
  font-weight: 600;
}

.mayor{
  margin-left: 10px;
}


.mayor_1{
  margin-right: 10px;
}

.mayor_1 img{
  transform: rotate(180deg);
}


/* Footer */ 

.page_content{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
 footer{
  margin-top: 20px;
  background-color: #f8f4f4;
  height: 100px;
  width: 100%;
 }

 .main{
  flex-grow: 1;
  width: 680px;
  margin-left: 18%;
}

body{
  height: 100%;
  margin: 0;
}

.footer_content{
  margin-left: 18%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer_content_10{
  margin-left: 18%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px 0px 0px;
}

.ubicación{
  color: black;
  font-size: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.españa{
  color:  black;
  font-size: 20px;
  margin-right: 10px;

}
.footer_content_1{
  display:  flex;
  margin-top: 5px;
  height: 30px;
  align-items: center;
}

.barra{
  background-color: grey;
  width: 0.5px;
  height: 30px;
  margin-right: 10px;
  
}

.circulo{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: grey;
  margin-right: 5px;
}

.linea_1{
  background-color: grey;
  width: 1000px;
  height: 0.5px;
}

.footer_content_2{
  display: flex;
  margin-top: 10px;
}

.footer_content_2 p{
  font-size: 15px;
  color: #777b80;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left: 20px;
}

.footer_content_2 p:hover{
  color: black ; 
}

/* Llevamos a cabo los estilos de la interfaz de inicio del portafolio */
/* HEADER */ 
.Encabezado_Google_Portal{
  display: flex;
  justify-content: space-between;
}

.Encabezado_Google_Portal_1{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 5px;
  padding: 25px;
  
}

.Encabezado_Google_Portal_1 a{
  cursor: pointer;
  color: #1f1f1f;
  font-size: 13x;
  text-decoration: none;
}

.Encabezado_Google_Portal_1 a:hover{
  text-decoration: underline;
}

.Encabezado_Google_Portal_2{
  display: flex;
  align-items: center;
  padding: 25px;
  margin-right: 5px;
  gap: 10px;
}

/* .Imagen_Boton_4*/ 

.Logo_Usuario_Portal{
  height: 35px;
  width: 35px;
}

.Encabezado_Google_Portal_2 a{
  cursor: pointer;
  color: #1f1f1f;
  font-size: 12px;
  text-decoration: none;
}

.Encabezado_Google_Portal_2 a:hover{
  text-decoration: underline;
}

/* MAIN */ 
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer_main_content{
  flex: 1;
  width: 100%;
}

.footer_main_center{
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translate(50%,0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo_space{
  width: 30px;
}
.footer_main_titulo{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer_main_titulo span {
  font-size: 90px;
}

.B_footer{
  color: #4285f4;
}

.a_footer{
  color:#ec4738;
}

.c_footer{
  color:#fbbc05;
}

.k_footer{
  color:#4285f4;
}

.E_footer{
  color: #34a853;
}

.n_footer{
  color: #ec4738;
}

.d_footer{
  color: #4285f4;
}

.Buscador_Portal{
  border-radius: 50px;
  padding: 15px;
  box-shadow:  0 0 4px rgba(0, 0, 0, 0.2);
  height: 10px;
  width: 590px; 
  background-color: #ffffff;
}

.Boton_8{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  transform: translate(0%,-27%);
  background: none;
  border: none;
}

.footer_main_botones{
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer_main_botones a{
  background-color:#f8f4f4;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  text-decoration: none;
  color: #1f1f1f;
}

.footer_main_botones a:hover{
  border: 1px solid #dadce0;
}

/* FOOTER */
.footer_Portal_1{
  padding: 15px;
  margin-left: 15px;
}

.footer_barra_horizontal{
  width: 100%;
  height: 1px;
  background-color: #dadce0;
}

.footer_Portal_2{
  display: flex;
  justify-content: space-between;
}

.footer_Portal_2_1{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 15px;
  padding: 15px;
}

.footer_Portal_2_1 a{
  cursor: pointer;
  color: #1f1f1f;
  font-size: 14px;
  text-decoration: none;
}

.footer_Portal_2_1 a:hover{
  text-decoration: underline;
}

.footer_Portal_2_2{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 15px;
  padding: 15px;
}

.footer_Portal_2_2 a{
  cursor: pointer;
  color: #1f1f1f;
  font-size: 14px;
  text-decoration: none;
}

.footer_Portal_2_2 a:hover{
  text-decoration: underline;
}