/* Fuentes */ 
@font-face {
  font-family: 'Product-Sans';
  src: url('./DESARROLLO WEB BACK-END/PORTAFOLIO/ASSETS/FONTS/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    font-family:'Product-Sans', sans-serif;
}


.Encabezado_Google{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Buscador {
  position: absolute;
  left: 275px;
  display: flex;
  border-radius: 50px;
  padding: 15px;
  box-shadow:  0 0 5px rgba(0, 0, 0, 0.6);
  height: 15px;
  width: 660px; 

}

.Buscador:hover{
  box-shadow:  0 0 8px rgba(0, 0, 0, 0.6);
}

.Encabezado_Google.fijo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Opcional para darle sombra */
  margin: 0;
}

.Barra_lateral{
  background-color: grey;
  height: 35px;
  width: 0.5px;
  transform: translate(-50%,-25%);
}



.Buscador_{
  resize: none;
  outline: none;
  width: 550px;
}


form {
  display: flex;  
  gap: 5px; 
}

.Logo_Google{
  height: 45px;
  width: 125px;
  margin-left: 40px;
}

.Boton_1{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
}



.Imagen_Boton_1{
  width: 15px;
  height: 15px;
}

.Boton_2{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.Imagen_Boton_2{
  width: 15px;
  height: 15px;
}

.Boton_3{
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.Imagen_Boton_3{
  width: 15px;
  height: 15px;
}

.Logo_Usuario{
  height: 80px;
  width: 80px;
}

.Elementos_Derecha{
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 40px;
}

.Encabezado_Google button{
  background-color: white;
  border: none;
}

.Encabezado_Google input{
  color:black;
  border: none;
}


.Imagen_Boton_4 {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Imagen_fondo{
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Imagen_fondo:hover{
  background-color: gainsboro;
  border-radius: 50px;
}


.Linea{
  background-color: grey;
  width: 100%;
  height: 0.5px;
  margin-bottom: 40px;
}

/* Contenido */

.Titulo_Imagenes{
  margin-bottom: 20px;
}

.Imagenes{
  display: flex;
  gap:40px;
  margin-bottom: 40px;
}

.Imagenes img{
  width: 200px;
  height: 150px;
  border-radius: 15px;
  transition: all 0.3s ease
}

.Imagenes img:hover{
  transform: scale(1.1);
}

.Contenedor_Proyect{
  margin-bottom: 30px;

}

.Titulo_Logo{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.Logo_Proyecto{
  background-color: gainsboro;
  border-radius: 50px;
  width: 20px;
  padding: 5px;
  height: 20px;
  margin-right: 10px;
}

.Link{
  color: cornflowerblue;
  direction: none;
  transition: all 0.3s ;
  text-decoration: none;
}

.Link:hover{
  text-decoration: underline;
}

.subtitulo{
  font-size: small;
  color: grey;
}

.Subtitulo_{
  color: grey;
  font-size: 10px;

}




/* Footer */ 

.page_content{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
 footer{
  margin-top: 20px;
  background-color: #f8f4f4;
  height: 105px;
  width: 100%;
 }

 main{
  flex-grow: 1;
  max-width: 680px;
  margin-left: 18%;
}

body{
  height: 100%;
  margin: 0;
}

.footer_content{
  max-width: 1000;
  margin-left: 18%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ubicación{
  color: black;
  font-size: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.españa{
  color:  black;
  font-size: 20px;
  margin-right: 10px;

}
.footer_content_1{
  display:  flex;
  margin-top: 5px;
  height: 30px;
  align-items: center;
}

.barra{
  background-color: grey;
  width: 0.5px;
  height: 30px;
  margin-right: 10px;
  
}

.circulo{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: grey;
  margin-right: 5px;
}

.linea_1{
  background-color: grey;
  width: 1000px;
  height: 0.5px;
}

.footer_content_2{
  display: flex;
  margin-top: 10px;
}

.footer_content_2 p{
  font-size: 15px;
  color: grey;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left: 20px;
}

.footer_content_2 p:hover{
  color: black ;
}